﻿@using Domain.Responses.Project
@using System.Reflection

<div class="col-md-4">
    <input class="form-control" placeholder="Title" @bind="newTodo" />
</div>
<div class="col-md-2">
    <button class="btn btn-primary" @onclick="AddTodo">Add todo</button>
</div>
<table class="table">
    <thead>
        <tr>
            @foreach (var propHeader in Obj.GetType().GetProperties())
            {
                @if (Columns.Contains(propHeader.Name))
                {
                    <th @onclick="@(e => OrderList(e, propHeader))">
                        <a href="#" class="text-decoration-none" role="button">
                            @propHeader.Name
                            @if (propHeader.Equals(currentProbs))
                            {
                                @if (listIsReverse)
                                {
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z" />
                                    </svg>
                                }
                                else
                                {
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z" />
                                    </svg>
                                }
                            }
                            else
                            {
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-filter-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M2 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
                                </svg>
                            }
                        </a>
                    </th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in List)
        {
            <tr>
                @foreach (var propBody in item.GetType().GetProperties())
                {
                    @if (Columns.Contains(propBody.Name))
                    {
                        <td>
                            @propBody.GetValue(item, null)
                        </td>
                    }
                }
            </tr>
        }
    </tbody>
</table>

@code {

    // parameters
    [Parameter]
    public object Obj { get; set; }

    [Parameter]
    public IList<object> List { get; set; }

    [Parameter]
    public IList<string> Columns { get; set; }

    // private
    private string newTodo;

    private PropertyInfo currentProbs;

    private bool listIsReverse = false;

    protected override void OnParametersSet()
    {
        List = new List<object> {
            new ProjectResponse
            {
                Id = new Guid(),
                Name = "test 1",
                Comment = "zyx",
            },
            new ProjectResponse
            {
                Id = new Guid(),
                Name = "test 2",
                Comment = "abc",
            }
        };

        Columns = new List<string> {
            "Id",
            "Name",
        };
    }

    private void OrderList(MouseEventArgs e, PropertyInfo prop)
    {
        if (currentProbs == null || !currentProbs.Equals(prop))
        {
            currentProbs = prop;
            List = List.OrderBy(l => prop.GetValue(l)).ToList();
            listIsReverse = false;
        }
        else
        {
            List = List.Reverse().ToList();
            listIsReverse = !listIsReverse;
        }
    }

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            List.Add(new ProjectResponse { Name = newTodo });
            newTodo = string.Empty;
        }
    }
}
