﻿@using MyMonitoring.Web.Components

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>
    <div class="text-justify">
        <div class="row">
            <div class="offset-1">
                <h3>Introduction</h3>
            </div>
        </div>
        <div class="row">
            <p>
                My Monitoring is a simple application to structure your information the way you want to make you better.
                Once all the information is clarified, it is easier to understand where you are and what you need to do.
                This is why it is important to keep regular track of his work and that of his team whatever the project.
            </p>
        </div>
        <div class="row">
            <div class="offset-1">
                <h3>Presentation</h3>
            </div>
        </div>
        <div class="row">
            <p>
                This little software will help you keep up to date.
                For each project, you can do several follow-ups according to your roles.
                All this according to your criteria and your objectives.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="offset-1">
            <h3>test blazor</h3>
        </div>
    </div>
    <div class="row">
        <component type="typeof(Counter)" param-InitialValue="0" render-mode="Server" />
    </div>
    <div class="row">
        <component type="typeof(DataTable)"
                   param-Obj="new ProjectResponse()"
                   param-List="null"
                   param-Columns="null"
                   render-mode="Server" />
    </div>
</div>

@section Scripts {
    <script src="_framework/blazor.server.js"></script>
}